{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "esnext",
    "paths": {
      "@/*": ["./src/*"],
      "@test/*": ["./test/*"]
    },
    "baseUrl": "./"
  },
  "module": {
    "type": "commonjs"
  }
}
