name: reusable-code_quality_check
on:
  workflow_call:

env:
  FORCE_COLOR: 3
defaults:
  run:
    shell: bash

jobs:
  type-check:
    timeout-minutes: 2
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: |
          pnpm install
      - name: Type Check
        run: |
          pnpm run type-check

  lint:
    timeout-minutes: 2
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v3
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      -
        uses: pnpm/action-setup@v2
        with:
          version: 8
      -
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'pnpm'
      -
        name: Install dependencies
        run: |
          pnpm install
      -
        name: Lint files
        run: |
          pnpm run lint
      -
        name: Fix possible lint warnings
        run: |
          pnpm run lint:fix
      -
        name: Check if files changed
        id: check-if-files-changed
        continue-on-error: true
        run: |
          git diff --quiet
      -
        name: Commit the changes
        if: ${{ steps.check-if-files-changed.outcome == 'failure' }}
        uses: EndBug/add-and-commit@v9
        with:
          author_name: github-actions[bot]
          author_email: github-actions[bot]@users.noreply.github.com
          default_author: github_actor
          message: 'Commit from GitHub Actions (lint_fix)'
          # Arguments for the git fetch command. If set to false, the action won't fetch the repo.
          # For more info as to why fetching is usually recommended, please see the "Performance on large repos" FAQ.
          # Default: --tags --force
          fetch: false
          # TODO: if it fails maybe a report would be nice
          # The way the action should handle pathspec errors from the add and remove commands. Three options are available:
          # - ignore -> errors will be logged but the step won't fail
          # - exitImmediately -> the action will stop right away, and the step will fail
          # - exitAtEnd -> the action will go on, every pathspec error will be logged at the end, the step will fail.
          # Default: ignore
          pathspec_error_handling: ignore
          push: true
