name: pull_request_to_main

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**/*.md"

env:
  FORCE_COLOR: 3
defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  code_quality_check:
    # Only run on PRs from the same repo
    if: github.event.pull_request.head.repo.full_name == github.repository
    uses: ./.github/workflows/code-quality-check.yml
    secrets: inherit
  check_changeset:
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'pnpm'
      - name: Install dependencies
        run: |
          pnpm install
      - name: Check changeset
        id: changeset_detected
        run: |
          changeset_folder=".changeset"
          
          # Get a list of .md files (excluding README.md) in the .changeset folder
          md_files=$(find "$changeset_folder" -name '*.md' ! -name 'README.md')
          
          # Check if there are any .md files other than README.md
          if [ -n "$md_files" ]; then
            echo "There are .md files other than README.md in the $changeset_folder folder:"
            echo "$md_files"
            echo "changeset_detected=true" >> $GITHUB_OUTPUT
          else
            echo "No .md files other than README.md found in the $changeset_folder folder."
            echo "changeset_detected=false" >> $GITHUB_OUTPUT
          fi

      - name: Find Comment
        uses: peter-evans/find-comment@v2
        id: find-comment
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: changeset_comment
      - name: Changeset status
        if: steps.changeset_detected.outputs.changeset_detected == 'true'
        id: changeset_status
        run: |
          changeset_status=$(pnpm exec changeset status --since=main --verbose --output status.json && cat status.json | jq -c -r '.' | jq -Rs .)
          echo "json_string=$changeset_status" >> $GITHUB_OUTPUT
      - name: Release Plan Message
        id: release_plan_message
        uses: ./.github/actions/release-plan-message
        with:
          json-string: ${{ steps.changeset_status.outputs.json_string }}
      # Use the output from the `hello` step
#      - name: Get the output time
#        run: echo "The time was ${{ steps.hello.outputs.time }}"
#      - name: Env vars
#        run: |
#          env

      - name: Comment changeset detected
        uses: peter-evans/create-or-update-comment@v3
        if: steps.changeset_detected.outputs.changeset_detected == 'true'
        with:
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          edit-mode: replace
          body: |-
            <!---
            changeset_comment
            -->
            ###    Changeset detected
            
            _Latest commit:_ ${{ github.event.pull_request.head.sha }}
            
            Mergear esta PR generar谩 un aumento de versi贸n en los siguientes paquetes:
            ${{ steps.release_plan_message.outputs.release-plan-message }}
            
            [驴Qu茅 son los conjuntos de cambios (changesets) y c贸mo agregar uno?](https://github.com/changesets/changesets/blob/main/docs/adding-a-changeset.md)
          reactions: eyes

      - name: Comment changeset not detected
        uses: peter-evans/create-or-update-comment@v3
        if: steps.changeset_detected.outputs.changeset_detected == 'false'
        with:
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          edit-mode: replace
          body: |-
            <!---
            changeset_comment
            -->
            ###  锔  No Changeset found
            
            _Latest commit:_ ${{ github.event.pull_request.head.sha }}
            
            Mergear esta PR **no** generar谩 un aumento de versi贸n en ning煤n paquete. Si estos cambios no deber铆an resultar en una nueva versi贸n, puedes proceder.
            
            **Si estos cambios deben resultar en un aumento de versi贸n se necesita agregar un conjunto de cambios _changeset_.**
            
            [驴Qu茅 son los conjuntos de cambios (changesets) y c贸mo agregar uno?](https://github.com/changesets/changesets/blob/main/docs/adding-a-changeset.md#i-am-in-a-multi-package-repository-a-mono-repo)
          reactions: eyes


